:root {
  --purple-100: #f2deff;
  --purple-200: #bc6ff1;
  --purple-300: #52057b;
  --white: #ffffff;
  --white-100: rgba(255, 255, 255, 0.75);
  --black: #000000;
  --black-100: #a0a0a0;
  --black-200: rgba(0, 0, 0, 0.58);
  --shadow-black: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  --border-white: #eee;
}
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, FontAwesome;
  background-color: var(--white);
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  min-height: 95.9vh;
}

.wrappr {
  min-height: 95.9vh;
  background-color: #1a1b1b;
  --white: #1a1b1b;
  --white-100: #1a1b1bcc;
  --black: #cacaca;
  --black-100: #a0a0a091;
  --black-200: #fefeff;
  --shadow-black: 0px 8px 16px 0px rgba(255, 255, 255, 0.116);
  --border-white: var(--black-100);
}
.row > * {
  flex-shrink: 0;
  width: inherit;
  max-width: inherit;
  padding-right: inherit;
  padding-left: inherit;
  margin-top: var(--bs-gutter-y);
}
.post-content p {
  margin-bottom: 1em;
  color: var(--black);
}
p {
  padding: 0;
  margin: 0;
}

/* navbar */
.bg-light {
  background-color: var(--black) !important;
}

.circle {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: var(--purple-100);
}

.nav-title {
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: var(--purple-100);
}

.offcanvas-end {
  width: 75%;
  border-color: transparent;
  background-color: var(--purple-200);
}
input.form-control {
  text-indent: 10px;
  border-radius: 18px 0 0 18px;
  border-color: var(--white);
  border: 0px solid var(--white);
}
input.form-control:not(:disabled):not(.disabled):focus {
  box-shadow: none;
}
button#button-addon2 {
  color: var(--black);
  border-color: transparent;
  background-color: var(--white);
  border-radius: 0 18px 18px 0;
}
button#button-addon2:active {
  color: black;
}
button#button-addon2:not(:disabled):not(.disabled):focus {
  box-shadow: none;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 14px;
  color: var(--black);
}

a {
  color: var(--black);
  text-decoration: none;
  font-size: 12px;
}
a:hover {
  color: var(--black);
}
a.news {
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
}
p.title {
  font-size: 10px;
  margin-bottom: 18px;
}

p.oleh {
  font-size: 7px;
  margin-right: 0.5rem;
}

p.author {
  font-size: 7px;
  color: var(--black-100);
}

p.viewer {
  font-size: 7px;
  color: var(--black-100);
}

p.date {
  font-size: 7px;
  color: var(--black-100);
}

.card-terbaru {
  width: 250px;
  height: 125px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}

.card-category {
  width: 48px;
  height: 14px;
  margin: 7px 0 48px auto;
  background-color: var(--purple-200);
  border-radius: 5px;
}

.card-category p {
  font-size: 7px;
  line-height: 0;
}

.bg-white-transparent {
  background-color: var(--white-100);
  width: 250px;
  margin-left: -0.75rem;
}
p.title-content {
  width: 237px;
  height: 28px;
  font-size: 12px;
  margin-bottom: 9px;
}

img {
  width: -webkit-fill-available;
}

img.eye {
  width: 15px;
  height: 15px;
  margin-right: 6px;
}
p.count {
  font-size: 7px;
  color: var(--black-200);
}

.pagination-btn {
  width: 86px;
  height: 18px;
  font-size: 12px;
  text-align: center;
  color: var(--white);
  background: var(--purple-300);
  border-radius: 5px;
  cursor: pointer;
}
.circle-pagination {
  font-size: 12px;
  text-align: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: var(--black);
  background: var(--purple-200);
  cursor: pointer;
  margin-right: 3px;
}
.circle-pagination.active {
  background-color: var(--purple-300);
}
.circle-pagination:last-child {
  margin-right: 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 39px;
  background-color: var(--black);
}

p.footer {
  font-size: 10px;
  color: var(--white);
}

/* font size */
.dropbtn {
  background-color: transparent;
  color: var(--black-200);
  border: none;
  font-size: 13px;
}

.dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  border-radius: 5px;
  background-color: var(--white);
  box-shadow: var(--shadow-black);
  z-index: 1;
}

.dropdown-content p {
  font-size: 11px;
  color: var(--black);
  padding: 5px 15px;
  display: block;
}

.dropdown-content p:hover {
  background-color: #ddd;
  cursor: pointer;
  text-align: center;
  width: -webkit-fill-available;
}

.dropdown:hover .dropdown-content {
  display: block;
}
